.DS_Store
id_rsa
id_rsa.pub
.idea/*
fetchData/PLZO_CSV_LV95/*
fetchData/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/*
fetchData/ch.swisstopo.amtliches-gebaeudeadressverzeichnis.zip
fetchData/bin/**
fetchData/lib/**
fetchData/pyvenv.cfg
fetchData/venv/*
vendor/*
tests/vendor/*
tests/phpunit-report.html
fetchData/amtliches-gebaeudeadressverzeichnis_2056.csv/pure_adr.csv
fetchData/ortschaftenverzeichnis_plz_2056.csv/AMTOVZ_CSV_LV95/AMTOVZ_CSV_LV95.csv
